*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.page,
.link:focus,
.link::before,
.section:not(:last-child)::after,
.header__line,
.randomiser__button,
.randomiser__button:focus,
.randomiser__button::after,
.randomiser__update {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    box-shadow 0.5s ease,
    fill 0.5s ease;
}
