.page {
  max-inline-size: 1240px;
  inline-size: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 5vw;
  background-image: url(../images//photo-1583339824000-5afecfd41835.avif);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}

.section {
  inline-size: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 50px 100px;
}

.header__list-links {
  list-style: "\1F63C";
}

.header__link {
  text-decoration: none;
  padding-block-start: 2px;
}

.header__link:hover {
  opacity: 0.8;
}

.header__heading {
  font-family: "Cat";
  font-size: 65px;
}
.randomiser {
  display: flex;
  justify-content: center;
}

.randomiser__block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.randomiser__button {
  margin: 0 auto;
}

.randomiser__text {
  padding: 20px 0 40px;
  margin: 0 auto;
  white-space: pre-wrap;
  block-size: 35vh;
  max-inline-size: 70vw;
  max-block-size: 250px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ball {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}