.page {
  max-inline-size: 1240px;
  inline-size: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 5vw;
  background-image: url(../images//photo-1583339824000-5afecfd41835.avif);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}

.section {
  inline-size: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 50px 100px;
}

.header__list-links {
  list-style: "\1F63C";
}

.header__link {
  text-decoration: none;
  padding-block-start: 2px;
}

.header__link:hover {
  opacity: 0.8;
}

.header__heading {
  font-family: "Cat";
  font-size: 65px;
}
.randomiser {
  display: flex;
  justify-content: center;
}

.randomiser__block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.randomiser__button {
  margin: 0 auto;
}

.randomiser__text {
  padding: 20px 0 40px;
  margin: 0 auto;
  white-space: pre-wrap;
  block-size: 35vh;
  max-inline-size: 70vw;
  max-block-size: 250px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe-container,
.globe {
	width: 200px;
	height: 200px;
}
.globe-container {
	position: relative;
	display: inline-block;
	margin: 30px;
	transform: scale(1.1);
}
.globe {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}
.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-inner-shadow {
	position: absolute;
	display: block;
	margin: 0;
}
.globe-sphere,
.globe-inner-shadow {
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.globe-inner-shadow {
  background-image: url('../images/shadow.svg')
}

.globe-worldmap {
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}
.globe-worldmap-front,
.globe-worldmap-back {
	left: 0;
	top: 0;
	width: 840px;
	height: 200px;
	overflow: visible;
	background-repeat: no-repeat;
  background-size: 800px 200px;
}

.globe-worldmap-front {
	background-position: 0px 0px;
	/* animation: textureSpin 2s linear infinite; */
  	background-image: url('../images/Без\ имени-1.png');
    transform: translateX(0);
    transition: transform 2s ease;
}


@keyframes textureSpin {
	from {
		transform: translateX(0);
	}
	to {
        transform: translateX(-25%);
	}
}
@keyframes textureSpinreverse {
	from {
        transform: translateX(-47.5%);
	}
	to {
		transform: translateX(0);
	}
}
